.Rproj.user
.Rhistory
.RData
.Ruserdata

# Ignore benchmark/output with exceptions (as some files are big)
benchmark/output/*
!benchmark/output/integration_results-random_holdout_hvg.tsv 
!benchmark/output/prediction_results-random_holdout_hvg.tsv 
!benchmark/output/variance_explained.tsv
